header {
  color: $font_color;
  text-align: center;
  padding-top: 50px;
}

// .container {
//   background-color: red;
// }

.calculator_grid {
  padding-top: 50px;
  padding-bottom: 50px;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  background-image: linear-gradient(
    to right bottom,
    #3d087b,
    #4f1197,
    #6119b4,
    #7422d2,
    #872bf1
  );
  flex-direction: column;
  justify-content: center;

  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-areas:
    "display display display display"
    "clear clear clear divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero spot equals";

  button {
    background-color: #3d087b;
    text-align: center;
    font-size: 50px;
    padding: 20px 20px;
    margin: 2px;
    color: #f43b86;
    border-radius: 15px;
    border: solid black 10px;
    cursor: pointer;
  }

  button:hover {
    background-color: #872bf1;
  }

  .calculator_opbutton {
    color: #ffe459;
  }

  #equals,
  #clear {
    color: #ffe459;
  }

  #display {
    grid-area: display;
    background-color: #872bf1;
    color: black;
    font-size: 80px;
    text-align: right;
    padding: 20px 20px;
    border: solid black 15px;
    border-radius: 15px;
  }

  #clear {
    grid-area: clear;
  }

  #divide {
    grid-area: divide;
  }
  #seven {
    grid-area: seven;
  }
  #eight {
    grid-area: eight;
  }
  #nine {
    grid-area: nine;
  }
  #multiply {
    grid-area: multiply;
  }
  #four {
    grid-area: four;
  }
  #five {
    grid-area: five;
  }
  #six {
    grid-area: six;
  }
  #minus {
    grid-area: minus;
  }
  #one {
    grid-area: one;
  }
  #two {
    grid-area: two;
  }
  #three {
    grid-area: three;
  }
  #plus {
    grid-area: plus;
  }
  #zero {
    grid-area: zero;
  }
  #spot {
    grid-area: spot;
  }
  #equals {
    grid-area: equals;
  }
}
