@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  color: #f4f4f4;
  text-align: center;
  padding-top: 50px;
}

.calculator_grid {
  padding-top: 50px;
  padding-bottom: 50px;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  background-image: linear-gradient(to right bottom, #3d087b, #4f1197, #6119b4, #7422d2, #872bf1);
  flex-direction: column;
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-areas: "display display display display" "clear clear clear divide" "seven eight nine multiply" "four five six minus" "one two three plus" "zero zero spot equals";
}
.calculator_grid button {
  background-color: #3D087B;
  text-align: center;
  font-size: 50px;
  padding: 20px 20px;
  margin: 2px;
  color: #F43B86;
  border-radius: 15px;
  border: solid black 10px;
  cursor: pointer;
}
.calculator_grid button:hover {
  background-color: #872BF1;
}
.calculator_grid .calculator_opbutton {
  color: #FFE459;
}
.calculator_grid #equals, .calculator_grid #clear {
  color: #FFE459;
}
.calculator_grid #display {
  grid-area: display;
  background-color: #872BF1;
  color: black;
  font-size: 80px;
  text-align: right;
  padding: 20px 20px;
  border: solid black 15px;
  border-radius: 15px;
}
.calculator_grid #clear {
  grid-area: clear;
}
.calculator_grid #divide {
  grid-area: divide;
}
.calculator_grid #seven {
  grid-area: seven;
}
.calculator_grid #eight {
  grid-area: eight;
}
.calculator_grid #nine {
  grid-area: nine;
}
.calculator_grid #multiply {
  grid-area: multiply;
}
.calculator_grid #four {
  grid-area: four;
}
.calculator_grid #five {
  grid-area: five;
}
.calculator_grid #six {
  grid-area: six;
}
.calculator_grid #minus {
  grid-area: minus;
}
.calculator_grid #one {
  grid-area: one;
}
.calculator_grid #two {
  grid-area: two;
}
.calculator_grid #three {
  grid-area: three;
}
.calculator_grid #plus {
  grid-area: plus;
}
.calculator_grid #zero {
  grid-area: zero;
}
.calculator_grid #spot {
  grid-area: spot;
}
.calculator_grid #equals {
  grid-area: equals;
}

body {
  min-height: 100%;
  min-width: 100%;
}